<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobwebtech2.com.bcu.kristian.discogsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.FirstPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.MenuPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.TabActivitySearch"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.AlbumDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.ArtistDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.TabActivitySaved"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.VideoList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.VideoView"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.TopAlbumsList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />

        <!-- Meta data for Facebook SDK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Content provider to allow sharing to Facebook wall -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider242977539583201"
            android:exported="true" />

    </application>

</manifest>